%h1= @post.title
.meta
  %span.author= @post.user.name
  %span.date=   @post.created_at.to_s(:micro)

.html= @post.body

%h3#comments= "#{pluralize(@post.comments.count, 'Comment')} so far"

%ol#comments
  = render @post.comments

= render :partial => 'comments/form', :locals => {:post => @post}