= render :partial => 'post', :locals => {:post => @post, :index => false}

%h4#comments= "#{pluralize(@post.comments.count, 'Comment')} so far"

%ol#comments
  = render @post.comments

= render :partial => 'comments/form', :locals => {:post => @post}