!!! Strict
%html{ html_attrs("en_us") }
  %head
    %title 
      Hubbub &mdash;
      = yield(:page_title) || yield(:title) || "Admin Interface"
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    = javascript_include_tag 'jquery/jquery', 'admin/admin.js'
    = stylesheet_link_tag 'reset', 'admin/admin'
    = yield :head
  %body{:id => controller.controller_name, :class => controller.action_name}
    #header
      %a#site-name{:href => '/'} Hubbub Admin
      = render :partial => 'admin/shared/session_links'
    - if logged_in?
      #nav-bar
        = render :partial => 'admin/shared/navigation'
    #content-title
      %h1= yield :title
      %span.meta= yield :meta
    - if action_bar = yield(:action_bar)
      #action-bar
        = action_bar
    #content      
      = render :partial => 'admin/shared/flash_messages', :locals => {:flash => flash}
      = yield
    #footer
      Powered by Hubbub. This site looks its best when using a modern browser.
    = yield :scripts